{{template "base" .}}

{{define "title"}} Snippet #{{.Snippet.Id}}{{end}}

{{define "body"}}
{{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.Id}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <strong>Создана: </strong>
            <time class="utcDate">{{.Created}}</time>
        </div>
        <div class='metadata'>
            <strong>Истекает: </strong>
            <time class="utcDate">{{.Expires}}</time>
        </div>
    </div>
    {{end}}
{{end}}